
section
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;

}

header
{
	height: 10vh;
	width: 100%;
	justify-content: center;
}
header h1
{
	font-size: 1.5em;
	color: white;
	text-align: center;
}
footer
{
	/*height: 10vh;*/
	width: 100%;
	/*padding-top: 10px;*/
	font-size: 0.8em;
	justify-content: center;
	align-items: center;
}

footer p
{
	margin: 5px 0 0 0;
	text-align: center;
	display: block;
}

.grid-wrap 
{
		height: 80vh;
		display: grid;
		grid-template-columns:repeat(2,1fr);
		grid-auto-rows: repeat(1,1fr);
		justify-content: center;
		
		grid-gap: 15px 0%;

}



.celda-button
{
	
	background: red;
	width:25vw ;
	height:25vh;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 15px;
	padding: 15px;

}

#button1 
{background-color: var(--Amarillo);
	}
#button2 
{background-color: var(--Rojo:);}
#button3 
{background-color: var(--Verde);}
#button4 
{background-color: var(--Celeste);}


@media screen and (max-width: 780px)
{

		
		section 
		{
			margin-left: 10px;
			display: grid;
			grid-template-columns: 10vw 80vw 10vw;
			grid-template-areas: "Header celdas footer" 
			 
		}
		.grid-wrap 
		{
			grid-area: celdas;
		}
		
		header
		{
			
			grid-area: Header;
		}
		header h1
		{
			position: absolute;
			transform: rotate(-90deg);
			display: inline-block;
			left: -20px;
		}

		footer
		{   display: flex;
			flex-direction: column;
			grid-area: footer;
			height: 100vh;
			width: 4vw;
			
		}

		footer p
		{
			
			transform: rotate(-90deg);
			display: inline-block;
			width:  100vh;
			color: white;
			
		}

		footer p:nth-child(2)
		{
			margin-left: 40px;
		}

}