<!DOCTYPE html>
<html>
<head>
	<title>ModoProfesional</title>
	<meta charset="utf-8">
   	<link rel="stylesheet" type="text/css" href="css/global.css">
   	<link rel="stylesheet" type="text/css" href="css/styls.css">
	<meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
	<header class="main-header">
				<h1 class="main-title">MODO PROFESIONAL</h1>
	</header>
	<div class="nav-publicar">
		<nav class="nav-profesinales">
			<ul class="cont-nav"> 
				<li>Mi cuenta</li>
				<li>Ajuestes</li>
				<li>Publicar</li>
				<li>Salir</li>
			</ul>
		</nav>
	</div>
	
	<div class="contenedor-formulario">
		<form>	
			<div class="contenedor-ficha-profesional">
				

				<div class="ficha-profesional">
					<div class="cont-name">
						<h2 class="name">Maria Carrizo</h2>
					</div>
					<div class="tarjeta-horizontal-form">
					
						<div class="contenedor-upload-img">
							<img src="public/img/form/3s.jpg" alt="" class="imagen-profesional-form">
							
							<div class="cont-input-file">
								<label for="file-upload" class="input-file"> Subir imagen</label>
								<input id="file-upload" onchange='cambiar()' type="file" style='display:none;'/>
								<div id="info"></div>
							</div>

						</div>
						
						<div class="tarjeta-info">
							
							<textarea class="text-area-editable" name="comentarios" rows="100" cols="200" maxlength="450">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ullam officiis fugit iste tenetur laboriosam, id sit, distinctio asperiores eligendi, quod dolor autem iusto eveniet nihil et nam! Necessitatibus, est.</textarea>
						
						</div>
					</div>			
				</div>
			</div>

			<section>
				<div class="contenedor">
					<label class="label-rigth-line" for="i-nombre">NyA</label>
					<input class="text-input-singleLine"id="i-nombre" type="text">
					
				</div>
				<div class="contenedor">
					<label class="label-rigth-line" for="i-telefono">Telefono</label>
					<input class="text-input-singleLine"id="i-telefono" type="text">
					
				</div>
				<div class="contenedor">
					<label class="label-rigth-line" for="i-profesion">Profesión</label>
					<input class="text-input-singleLine"id="i-profesion" type="text">
					
				</div>
				<div class="contenedor">
					<label class="label-rigth-line" for="i-direccion">Dirección</label>
					<input class="text-input-singleLine"id="i-direccion" type="text">
					
				</div>
				
				<div class="contenedor">
					<label class="label-rigth-line" for="i-horario">Disponibilidad Horaria</label>
					<input class="text-input-singleLine"id="i-horario" 
					type="text">
				</div>
			</section>
			
			<section>

				<div class="header-section">
					<h2>Trabajos que se realizan</h2>
				</div>
				<div class="input-tilde-y-franja">
					<span class="icon">&#10004;</span><input class="text-input-singleLine"type="text">
				</div>
				<div class="input-tilde-y-franja">
					<span class="icon">&#10004;</span><input class="text-input-singleLine"type="text">
				</div>
				<div class="input-tilde-y-franja">
					<span class="icon">&#10004;</span><input class="text-input-singleLine"type="text">
				</div>
				<div class="input-tilde-y-franja">
					<span class="icon">&#10004;</span><input class="text-input-singleLine"type="text">
				</div>
				<div class="input-tilde-y-franja">
					<span class="icon">&#10004;</span><input class="text-input-singleLine"type="text">
				</div>
				
 			</section>
			<div class="albun-vistaprevia">
				<div class="header-section">
					<h2>Fotos</h2>
				</div>
				<div class="cont-imagenes">
					
					<div class="cont-upload-img">
				
						<div class="contenedor-upload-img">
							<img src="public/img/form/nueva.jpg" alt="" class="imagen-profesional">
							
							<div class="cont-input-file">
								<label for="file-upload" class="input-file">Subir imagen</label>
								<input id="file-upload" onchange='cambiar()' type="file" style='display:none;'/>
								<div id="info"></div>
							</div>
						</div>
						
						<div class="contenedor-upload-img">
							<img src="public/img/form/nueva.jpg" alt="" class="imagen-profesional">
							
							<div class="cont-input-file">
								<label for="file-upload" class="input-file">Subir imagen</label>
								<input id="file-upload" onchange='cambiar()' type="file" style='display:none;'/>
								<div id="info"></div>
							</div>
						</div>
						
						<div class="contenedor-upload-img">
							<img src="public/img/form/nueva.jpg" alt="" class="imagen-profesional">
							
							<div class="cont-input-file">
								<label for="file-upload" class="input-file">Subir imagen</label>
								<input id="file-upload" onchange='cambiar()' type="file" style='display:none;'/>
								<div id="info"></div>
							</div>
						</div>
						
						<div class="contenedor-upload-img">
							<img src="public/img/form/nueva.jpg" alt="" class="imagen-profesional">
							
							<div class="cont-input-file">
								<label for="file-upload" class="input-file">Subir imagen</label>
								<input id="file-upload" onchange='cambiar()' type="file" style='display:none;'/>
								<div id="info"></div>
							</div>
						</div>
						
						<div class="contenedor-upload-img">
							<img src="public/img/form/nueva.jpg" alt="" class="imagen-profesional">
							
							<div class="cont-input-file">
								<label for="file-upload" class="input-file">Subir imagen</label>
								<input id="file-upload" onchange='cambiar()' type="file" style='display:none;'/>
								<div id="info"></div>
							</div>
						</div>
				</div>	
				</div>
			</div>
			<section>

				<div class="header-section">
					<h2>En que departamento publicaras tu servicio</h2>
				</div>
				
				<label class="label" for=""><input type="checkbox">Departamento</label>
				<label class="label" for=""><input type="checkbox">Departamento</label>
				<label class="label" for=""><input type="checkbox">Departamento</label>
				<label class="label" for=""><input type="checkbox">Departamento</label>
				<label class="label" for=""><input type="checkbox">Departamento</label>
				<label class="label" for=""><input type="checkbox">Departamento</label>
				<label class="label" for=""><input type="checkbox">Departamento</label>
				<label class="label" for=""><input type="checkbox">Departamento</label>
				<label class="label" for=""><input type="checkbox">Departamento</label>
				<label class="label" for=""><input type="checkbox">Departamento</label>

			</section>
				<section id="dynamic-option">
					
					<section>
						
						<div class="header-section">
							<h2>En cual de las siguientes categorias se encuetra el servicio que ofrese</h2>
						</div>
						
						<div  v-for="(item, i) in listado" v-bind:key="item.categoria" class="box-input-categorias">
							<label clsas="label" v-bind:for="item.categoria"><h3>{{item.categoria}}</h3><p>{{item.descripcion}}</p></label><input  type="radio" name="categoria" v-bind:value="item.categoria" id="{{item.categoria}}">
						</div>


						

					</section>
					<section>

						<div class="header-section">
							<h2>¿Que actividad encaja mas con lo que ofrece?</h2>
						</div>
						
						<div>
							<!-- <label  v-for="(item, i) in item_activo.subcategoria" v-bind:key="i" class="label" for=""><input type="checkbox">{{item[i]}}</label> -->
						</div>
							
						
					</section>
				</section>
			<section>
				<button class="btn-mediano"	  type="submit">Guardar y Publicar</button>
			</section>
		</form>

	</div>
	
	
	
		
			
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="css/Estructuras/dynamic-option.js"></script>
</body>
</html>
