.contenedor
{	
	display: flex;
	padding: 3px 4px;
}

.input-tilde-y-franja
{
	display: flex;
}


.contenedor-ficha-profesional
{
	position: relative;
	width: 100%;
	height:250px;
}


.tarjeta-horizontal-form
{
	margin-top: 15px;
	display: flex;
	height: 220px;
	
}



.tarjeta-horizontal-form:nth-child(n)
{
	height: 220px;
	padding: 0px;
}

.contenedor-upload-img
{
	display: inline-block;
	/*flex-direction: column;
	align-items: center;
	justify-content: center;*/
	margin:2px 5px;

}


.imagen-profesional-form
{
	
	border-radius: 15px;
}

.text-area-editable
{
	width: 99%;
	border-radius: 10px;
}