
/*------Nav orizontal--------*/
.nav-profesinal
{
	display: flex;
	width: 100%;
	margin: 4px 0;
	justify-content: center;
	align-items: center;
}

.cont-nav
{
	
	display: flex;
	justify-content: center;
	margin: 0;
}


.cont-nav li:not(:last-child):after
{
	content: "|";
	color:var(--color1);
	margin-left: 1px;
}

.tarjeta-horizontal
{
	position: relative;
	margin: 5px 7px;
	display: flex;
	border-bottom:3px solid var(--color1);
	height: 20vh;
	padding-right:10 5px;
}


.imagen-profesional
{
	border-radius: 15px;
	padding: 5px;
	height: 80%;
	width: 10vw;
		
}	
.tarjeta-info p
{
	margin: 2px 5px 0 5px;
	height: 65%;
	font-size: 1.2em;
	overflow: hidden;
text-overflow: clip ellipsis;
	
}

/*--------------*/


.sector-vertical-publicidad
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 400px;
	background-color:gray ;
	text-align: center;
	color:white;
}

.sector-horizontal-publicidad
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 480px;
	height: 120px;
	background-color:gray ;
	text-align: center;
	color:white;
}